body {
	font-family: Open Sans;
	font-size: 13px;
	line-height: 1.3;
	background-color: #c7c7c7;
	color: #333333;

}

.random {
	position: absolute;
}

header {
  color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

h1 {
	font-size: 24px;
	font-weight: 700;
  float: left;
  padding: 10px 0 10px 20px;
}


footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 0 10px 20px;

}

a {
  color: #ffffff;
  margin: 0 10px 0 0;
  text-decoration: none;
  
}

a:hover {
  font-weight: 700;
}

p {
  margin: 10px 0 10px 0;
}

div.info {
  width: 300px; 
  position: fixed; 
  top: 200px; 
  left: 20px;
  color: #ffffff;
  z-index: 1;
  
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 40px 0 0;
}



div.wrap { 
margin: 80px 0px 0 8px;
height:85vh;
overflow: scroll;

}
div.body { 
height:  70vh;
margin: 80px 15px 0 15px;

}

div.project {
  width: 300px;
  height: 201px;
  padding: 0 20px 30px 0;
  float: left;
  overflow: hidden;
}

h4 {
	font-size: 12px;
	font-weight: 700;
  float: left;
  padding: 0px;
    margin: 5px 0 0 0;
}


.imgDescription {
  position: relative;
  top: -100px;
  left: 30px;
  color: #fff;
  opacity: 0;
  display: none;
  

}
  